<?xml version="1.0" encoding="UTF-8"?>
<web-app
	version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Iheadache Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/security-config.xml, /WEB-INF/app-config.xml, /WEB-INF/mvc-config.xml</param-value>
	</context-param>
	<context-param>
      <param-name>resteasy.role.based.security</param-name>
      <param-value>true</param-value>
   </context-param>
	
	 <listener>
      <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
   </listener> 

   <!--<listener>
      <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
   </listener>   -->
   
   	<listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> 


	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
    
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/help/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/extjs/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	 <!--  <servlet>
      <servlet-name>Resteasy</servlet-name>
      <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet> --> 

    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
    </servlet>
    
       
   <servlet-mapping>
      <servlet-name>springmvc</servlet-name>
      <url-pattern>/app/*</url-pattern>
   </servlet-mapping> 
   
    
      <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.signup</url-pattern>
    </servlet-mapping>  
    
     <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.email</url-pattern>
    </servlet-mapping>  
    
     <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/recoverpw</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/recoverpw2</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/changepw</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/reg-*</url-pattern>
    </servlet-mapping>  
    

    
</web-app>
